body{
    background-color: black;
    color: white;
    border: white;
}
.navbar a {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
.navbar li{
    height: 50px;
    
}
.navbar{
    background-color: blue;
    color: white;
}


.footer{
    background-color: blue;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
