
body {color: white; font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  color:white;
}
#navcolor{
background-color: white;
color: black;
font-weight: bold;
text-shadow: 0 0 3px #056fb6, 0 0 5px violet;
}

#navb
{
  background-color: white;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 3px #056fb6, 0 0 5px violet; 
}

#foot{
  background-color: white;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 3px #056fb6, 0 0 5px violet;
  letter-spacing:4px; font-size: large; 
}

  
.backimg {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.backimg {
  background-image: url(img/back.png);
  min-height: 100%;
}

#CV{
  background-color: black;
}

#cvlink{font-size:large;}
a#cvlink:link {color:black;}
a#cvlink {text-decoration: none;}

#modal_img  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #modal_img:hover {opacity: 0.7;}
  
  #modal_img2  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #modal_img2:hover {opacity: 0.7;}
  
  #modal_img3  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #modal_img3:hover {opacity: 0.7;}
  
  #modal_img4  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #modal_img4:hover {opacity: 0.7;}
  
  #modal_img5  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #modal_img5:hover {opacity: 0.7;}
  
  #modal_img6  {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #modal_img6:hover {opacity: 0.7;}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 150%;
    max-width: 1500px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }